<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe&Wifi API</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div
    class="bg-image d-flex justify-content-center align-items-center"
    style="
        background-image: url('https://fastly.picsum.photos/id/885/1100/840.jpg?hmac=h701npB7cMyCYtPj-oEWvMbrI8zFWcCmKX5lxGikv1M');
        height: 100vh;
        background-size: contain;  /* Changed to contain */
    "
    >
        <div class='container'>
        <h1 style='color: white; font-size:4em; text-shadow: 0 0 2px black;'>Welcome to the Cafe & Wifi API</h1>
            <a style='border: thin solid blue; color: green; font-size:2em; font-weight: bold; background-color: #EADBC8;;' href='https://documenter.getpostman.com/view/23095188/2sA3JNZf51'>Visit Postman Documentation for API Information.</a>
        </div>
    </div>
    <!-- Bootstrap Javascripts -->  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>